# Ignore data directory
/data/
# Ignore IDE directory
/tools/
/tests/
# Ignore IDE config
.windsurfrules
LICENSE
README.md
# Ignore environment variables
.env
# ignore unrelated files
requirements.txt